
.url-entry {
    position: relative;
    border-bottom: 1px solid #eee;
    padding: 0.5em 0;
}

.url-entry--panel {
    position: absolute;
    top:0; left:0;
    padding: 1em 0.5em;
}

.url-entry--main {
    margin-right: 6em;
}

.url-entry--go {
    position: absolute;
    top:0; right:0;
    padding: 0.5em;
}
