
.directive-results {
    position: relative;
    border-bottom: 1px solid #eee;
    padding: 0.5em 0;
}

.directive-results--panel {
    position: absolute;
    top:0; left:0;
    padding: 1em 0.5em;
}

/* .directive-results--main { } */

.directive-results--main input {
    width: 100%;
    padding: 0.5em;
}

.directive-results--main .ui.label {
    line-height: 1.5em;
    padding: 0.1em 0.5em;
    border-color: #cdcdf5;
    margin-bottom: 4px;
}