
.url-collection {
    position: relative;
    border-bottom: 1px solid #eee;
    padding: 0.5em 0;
}

.url-collection--panel {
    position: absolute;
    top:0; left:0;
    padding: 1em 0.5em;
}

.url-collection--main .ui.label {
    cursor: pointer;
}
