
.input-url {
    position: relative;
    border-bottom: 1px solid #eee;
    padding: 0.5em 0;
}

.input-url--panel {
    position: absolute;
    top:0; left:0;
    width: 10em;
    padding: 1em 0.5em;
}

.input-url--main {
    margin-left: 10em;
    margin-right: 6em;
}

.input-url--go {
    position: absolute;
    top:0; right:0;
    padding: 0.5em;
}
